.laptop-hidden {
  @include below($xl) {
    display: none !important;
  }
}

.netbook-hidden {
  @include below($lg) {
    display: none !important;
  }
}

.tablet-hidden {
  @include below($md) {
    display: none !important;
  }
}

.mobile-hidden {
  @include below($sm) {
    display: none !important;
  }
}

.laptop-visible {
  @include above($xl) {
    display: none !important;
  }
}

.netbook-visible {
  @include above($lg) {
    display: none !important;
  }
}

.tablet-visible {
  @include above($md) {
    display: none !important;
  }
}

.mobile-visible {
  @include above($sm) {
    display: none !important;
  }
}
